.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a
 {
     color: #337ab7 !important;
 }

#searchResults {
  background: skyblue;
}

#searchBox {
    width: 300px;
}

.spacer {
    margin-top: 20px;
}